* {box-sizing: border-box; font-size: 25px;}
h1 {font-weight: bold; 
	text-align: center;
	font-size: 1.75em;
}
div {
	background-color: gray; float: left;
}
@media (min-width: 992px) {
	.col{width: 27.33%; border: 1px solid black; float: left; margin: 3%}
}
@media (max-width: 991px) and (min-width: 768px){
	.col1{width: 44%; border: 1px solid black; float: left; margin: 3%;}
	.col2{width: 94%; border: 1px solid black; float: left; margin: 3%;}
}
@media (max-width: 767px){
	.colm{width: 80%; border: 1px solid black; float: left; margin: 10%; margin-top: 5%; margin-bottom: 5%;}
}
.content{
	clear: right; margin: 10px; background-color: gray; font-family: Century Gothic;
}
#sushi, #beef, #chicken{
	height:auto; width: 40%; text-align: center; float: right; border-bottom: 1px solid black; border-left: 1px solid black; font-weight: bold; font-family: calibri; font-size: 1.25em;
}
#chicken{
	background-color: #ff66b3; color: black;
}
#beef{
	background-color: #ff0000; color: white;
}
#sushi{
	background-color:  #ffff66; color: black;
}
@media (max-width: 991px) and (min-width: 768px){
	#sushi{width: 20%;}
}
